@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
p{
    font-size: 15px;
    font-family: Tahoma, Geneva, sans-serif;
}

.clock {
}

div#nash_zarabotok {
    position: absolute;
    bottom: 0%;
}

h1.clock {
   border: 14px;
   background: #3478c2;
   padding: 10px;
   font-size: 300%;
   position: absolute;
   bottom: 20%;
   left: 40%;
   color: aliceblue;
}


div#nash_zarabotok {
    float: none;
}

.container-fluid{

    margin-left: 1px;

}
.button{
   text-decoration:none; 
   text-align:center; 
   padding:9px 11px; 
   border:solid 1px #004F72; 
   -webkit-border-radius:24px;
   -moz-border-radius:24px; 
   border-radius: 24px; 
   font:15px Arial, Helvetica, sans-serif; 
   font-weight:bold; 
   color:#edf5f5; 
   background:#266ebb; 
   -webkit-box-shadow:2px 3px 19px #bababa;  -moz-box-shadow: 2px 3px 19px #bababa;  box-shadow:2px 3px 19px #bababa;  

}
.effect8
{
 border-right: 2px solid rgba(239, 239, 239, 0.43);
}



.ul > li {
    list-style-type: none;
}

.row-head {
    margin-bottom: 10px;
}

.menu{
    padding-top: 6px;
    color: #eef2f8;
    height: 36px;
    /*background: #2065b1;*/
    
}
.footernav 
{
    position: fixed;
    width: 100%;
    bottom: 0;  
    height: 115px;
    margin-left: -15px;
}
.table
{
    margin-bottom: -10px!important; 
}



#search {
  /* устанавливаем ширину формы,
  ** равную ширине поля ввода (183 + 37 + 15)   */
  width: 235px;
  height: 25px;
}

#search input {
  float: left;
  border: none;
}

#search .input {
    border-radius: 6px;
    width: 101px;
    height: 25px;
    padding: 0 37px 1px 15px;
    color: #555;
    font: 13px/28px Tahoma, Arial, sans-serif;
    outline: none;
}

@-moz-document url-prefix() {
  #search .input {
    height: 25px;
    padding-bottom: 2px;
}
}

#search .input:focus {
  background-color: rgb(239, 239, 241);
  background-position: 0 -25px;
  color: #333;
}
#search .submit {
  width: 23px;
  height: 23px;
  cursor: pointer;
  margin-left: -37px;
  background: url(img/search.png)no-repeat 50% 50%;
}
.menu_border
{
    border-right: 1px solid rgba(27, 90, 159, 0.54);
    height: 26px;
}
.menu a { color: #f4f6fa }
#socset
{
    margin-right: 48px;
}
#socset a { color: #f4f6fa }
#socset1 a { color: #f4f6fa }
.calling a { color: #f4f6fa;
    text-decoration: none;
}
hr {
    border: none;
    color: #dfdedf;
    background-color: #dfdedf;
    height: 2px;
    width: 537px;
}
.css_input
{
    margin-bottom: 10px;
    border-color:#cdcdcc;
    border-style:solid;
    border-width:0px; 
    background-color:#cdcdcc;
    padding:14px; 
    border-radius:23px;
    font-size:21px;  
}
.table-responsive {
    width: 100% !important;
    overflow-x: auto !important;
}
.margin {
    margin-bottom: 10px;
}
.row > .col-sm-5 > img {
    width: 100%;
    margin-bottom: 10px;
}

@media screen and (max-width: 414px) {
    .col-sm-5 .image > img {
        display: none;
    }
    #zakz {
        font-size: 13px;
        width: 280px !important;
        margin: 0px 0px 0px 0px!important;
    }
}

#zakz {
    margin: 20px 0px 20px 0px;
}

.media:last-child {
    margin-bottom: 20px;
}

.css_input:focus 
{ 
    outline:none; 
} 
.counter1{
    display: inline-block;
    background: white;
    box-shadow: 1px -1px 6px 0px #000000;
    width: 9%;
    height: 22%;
    font-size: 300%;
    border-radius: 6%;
}
.css_input1
{
    margin-top: 0%;
    margin-bottom: 10px;
    border-color: #cdcdcc;
    border-style: solid;
    border-width: 0px;
    background-color: #cdcdcc;
    padding: 10px;
    border-radius: 23px;
    font-size: 18px;
    display: inline-block;
} 

.css_input1:focus 
{ 
    outline:none; 
} 
.bottom-to-top-r {
    border-width: 0px;
    border-right-width: 3px;
    border-style: solid;
    border-image:
    linear-gradient(to top, #2870be, rgb(20, 78, 142),#266dbb) 1 100%;
}
.bottom-to-top-l {
    border-width: 0px;
    border-left-width: 3px;
    border-style: solid;
    border-image:
    linear-gradient(to top, #2870be, rgb(20, 78, 142),#266dbb) 1 100%;
}
.punkti
{
    /*border-width: 3px;
    border-style: solid;
    border-image:
         linear-gradient(to right, #2870be, rgb(20, 78, 142),#266dbb) 1 100%;
         */

         background-position: 0 0, 0 100%;
         background-repeat: no-repeat;
         -moz-background-size: 100% 20px;
         background-size: 100% 2px;
         background-image: -moz-linear-gradient(left, #2870be, rgb(20, 78, 142),#266dbb 100%), -moz-linear-gradient(left, #2870be, rgb(20, 78, 142),#266dbb 100%);
         background-image: -o-linear-gradient(left, #2870be, rgb(20, 78, 142),#266dbb 100%), -o-linear-gradient(left, #2870be, rgb(20, 78, 142),#266dbb 100%);
         background-image: linear-gradient(to right, #2870be, rgb(20, 78, 142),#266dbb 100%);

     }
     .inp{
        margin-bottom: 10px;
        border-color: #d7d7d7;
        border-style: solid;
        border-width: 0px;
        background-color: #d7d7d7;
        padding: 9px;
        padding-right: 0px;
        border-radius: 15px;
        font-size: 19px;
    }
    .inp:focus 
    { 
        outline:none; 
    } 
    #usluga
    {
        width: 269px;
        text-decoration: none;
        text-align: center;
        padding: 8px 23px;
        border: solid 1px rgba(0, 79, 114, 0.45);
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        border-radius: 11px;
        font: 24px Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #fff;
        background: #266ebb;
        -webkit-box-shadow: 2px 3px 19px #bababa;
        -moz-box-shadow: 2px 3px 19px #bababa;
        box-shadow: 2px 3px 19px rgba(255, 255, 255, 0.42);
        margin: -11% 64%;
    } 
    @media screen and (min-width: 1024px) {
      #poluch
      {
          width: 94%!important;
      }
  }
  @media screen and (max-width: 1024px) {
   #uridich_soprov
   {
    margin-top: 3%!important;
}
#obratni {
    margin: 1% 39px!important;
}
#socset
{
    width: 9%!important;
    font-size: 16px!important;
    padding: 0!important;
}
#menage
{
    padding-top: 28px!important;
    padding-bottom: 12px!important;
}
#pochemu
{
    padding-top: 16%!important;
}
#acia
{
    margin-left: -28px!important;
}
#usluga
{
    margin: -16% 61%!important;
}
#zavka
{
    padding: 0.5%!important;
}

}
.plusi {
    width:30%!important;
}
.plusi1
{
    min-height:240px!important;
}
#soprov
{
    padding-top: 3%!important;
    padding-left: 0%!important;
    /*margin-left: 51%!important;*/
}
#shorthr
{
    width: 94%!important;
}
#zakzv
{
    /*font-size: 12px!important;*/
}
#tender
{
    margin-left: 30px!important;
    padding-left: 0px!important;
    padding-right: 15px!important; 
}
#seach
{
    width: 89px!important;
}
#search
{
    width: 89px!important;
}
#searchinp
{
    width: 6%;
    .smallmar
    {
        /*margin-left:5%;*/
    }
    #myNavbar
    {
        padding-left: 0em!important;
        z-index: 10;
    }
}
#carousel {

}
.opacity {
    opacity: 1;
}
.item .thumb {
    width: 25%;
    cursor: pointer;
    float: left;
}
.item .thumb img, .item img {
    width: 100%;    
}
#triangle-right {
    margin-left: 42%;
    width: 0;
    height: 0;
    border-top: 86px solid transparent;
    border-left: 80px solid red;
    border-bottom: 86px solid transparent;
    background-image: linear-gradient(to right, #2870be, rgb(20, 78, 142),#266dbb 100%);
}
.nav>li>a {

}
@media screen and (max-width: 1024px) {
    #logo
    {
        padding-left: 15px!important;
        padding-right: 15px!important;
        margin-right: -12px!important;
    }

}

#counting
{
    padding-top: 4%;
    height: 100%;
    width: 19%;
    font-size: 64px;
    padding-left: 6%;
    margin-left: 3%;
    padding-right: 20px;
    margin-right: 10px;
    box-shadow: -1px 0px 14px 0px rgba(50, 50, 50, 0.75);
    background: linear-gradient(to top, #286fbe 10% , #17477c 50%,#286fbe 100%);
}

@media screen and (min-width: 650px) {
    #ostav_zavka {
        margin-top: 6%!important;   

    }
}
@media screen and (max-width: 1023px) {

    #cicli
    {
        border-bottom-right-radius: 50px!important;
        border-bottom-left-radius: 50px!important;
    }
}

@media screen and (min-width: 641px) {
    #seach1
    {
        display:none!important;
    }
    
}
@media screen and (min-width: 767px) {
    #socset1
    {
        display:none!important;
    }
}
@media screen and (max-width: 767px) {
    #socset
    {
        display:none!important;
    }
    #myNavbar1
    {
        padding-left: 1em!important;
        position: absolute;
        margin-top: -247px;
        margin-left: 12px;
    }
    
}
@media screen and (max-width: 768px) {
    #tender {
        margin-left: -64px!important;
        padding-top: 17px!important;
        width: 198px!important;
    }
    #pochta{
        margin-left: 24px!important;
        margin-top: 13px!important;
    }
    #shapka_phone
    {
        width: 213px!important;
        padding-top: 17px!important;
        padding-left: 0px!important;
    }
    #zakzv
    {
        padding: 11px 10px!important;
        /*font-size: 9px!important;*/
    }
    #soprov
    {
        font-size: 19px!important;
        padding-top: 1%!important;
        padding-left: 0%!important;
        /*margin-left: 49%!important;*/
    }
    .plusi1 {
        min-height: 328px!important;
    }
    #uridich_soprov
    {
        margin-top: 5%!important;
    }
    .button1
    {
        width: 62%!important;
    }
    #poluch
    {
        width: 97%!important;
        /*padding-bottom: 30px;*/
    }
    .font1{
        font-size: 229%!important;
    }
    #pad_none
    {
        margin-top: 25%!important;
    }
    #nachni
    {
        height:700px!important;
    }
    #otpravte
    {
        margin-top: -13%!important;
    }
    #acia {
        margin-left: -22px!important;
    }
    #pri_zakaze
    {
        font-size: 118%!important;
    }
    #usluga {
        margin: -11% 61%!important;
        width: 40%!important;
        font: 18px Arial, Helvetica, sans-serif!important;
    }
    #pochemu {
        padding-top: 44%!important;
    }
    #id5
    {
        margin-bottom: 132%!important;
    }
    .sokr_width 
    {
        width:100%!important;
    }
    #podrobn
    {
        width: 106px!important;
    }
    #counting {
        padding-left: 10px!important;
        margin-left: 2%!important;
    }
    #kak_mi_rab
    {
        padding-right: 0px!important;
    }
    .emblemi
    {
        margin-bottom: 6%!important;
        margin-top: 7%!important;
    }
    #ostav_zavka {
        margin-top: 2%!important;
    }
    #socset {
        width: 12%!important;
        margin-top: -6%;
    }
}
.navbar-inverse .navbar-toggle {
    border-color: #0d6296!important;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #2267b2!important;
}
#socset1
{
    width: 95px;
    font-size: 15px;
    margin-right: 20px;
    float: right;
    display: inline-block;
}
@media screen and (max-width: 640px) {

    #summ {
    position: sticky;
    margin-top: 50px!important;
}

    #logo {
        padding-left: 34px!important;
        padding-right: 43px!important;
        margin-right: -12px!important;
    }
    #tenderni_consult
    {
        margin-left: 16px!important;
        margin-top: 9px!important;
        
    }
    .menu
    {
        float:right!important;
        width:200px!important;
        /*margin-left: 28em!important;
        padding-left: 20px!important;*/
        z-index:5!important;
        position:relative!important;
        
    }
    .menu_border
    {
        border-bottom: 1px solid rgba(27, 90, 159, 0.54)!important;
        border-right:transparent!important;
        width: 100%!important;
        padding-left: 8%!important;
    }
    #my_search
    {
        display:none!important;
    }
    #seach1
    {
        width:89px!important;
    }
    .shapka
    {
        font-size:15px!important;
        height: 59px!important;
        width: 133px!important;
        padding:0px!important;
        padding-top:20px!important;
    }
    #zakzv
    {
        padding: 10px 16px!important;
        font-size: 12px!important;
    }
    #tender
    {
        margin-left:0px!important;
        padding-top: 16px!important;
        width: 199px!important;
    }
    #pochta
    {
        margin-left: -23px!important;
        margin-top: 0px!important;
    }
    #nash_spec {
        margin-left: 5%!important;
        width: 89%!important;
    }
    #knopka
    {
        padding-top:19px!important;
        margin-left: 11px!important;
    }
    
    #logo_menu
    {
        height:88px!important;
    }
    #soprov
    {
        margin-left:0%!important;
    }
    #glform
    {
        background: rgba(234, 234, 229, 0.38)!important;
        margin-top: 10%!important;
        border-radius: 10px!important;
    }
    .button
    {
        width:120px!important;
    }
    
    .plusi
    {
        width:45%!important;
        padding: 0px!important ;
        min-height: 571px!important;
    }
    .font1
    {
        font-size:35px!important;
    }
    .font2
    {
        font-size:20px!important;
    }
    #summ
    {
        margin-top:50px!important;
    }
    #summ_img
    {
        height:400px!important;
    }
    .plusi1
    {
        min-height:250px!important;
    }
    #tech
    {
        margin-top:10%!important;
    }
    .counter1
    {
        height:17%!important;
        padding-top: 1%!important;
    }
    #nachni
    {
        height:1050!important;
    }
    #otpravte
    {
        margin-top:-31%!important;
    }
    #poisk
    {
        margin-top: 0px!important;
    }
    #acc
    {
        height:323px!important;
    }
    #acia
    {
        margin-left: -17px!important;
    }
    #usluga
    {
        margin-top: 6%!important;
        margin-left: 22px!important;
    }
    #pochemu
    {
        width: 46%!important;
        margin-top: -20%!important;
        margin-left: 3%!important;

    }
    .inp {
        width: 100%!important;
        font-size: 17px!important;
    }
    #counting {
        padding-top: 0%!important;
        height: 111%!important;
        width: 11%!important;
        font-size: 39px!important;
        padding-left: 15px!important;
        margin-left: 10px!important;
    }
    #ostav_zavka
    {
        font-size: 14px!important;
    }
    .emblemi {
        width: 11%!important;
        padding-left: 5px!important;
        padding-right: 0px!important;
        margin-top: -10%!important;
        margin-bottom: 0%!important;
    }
    #ostav_z
    {
        margin-left: 10%!important;
        margin-top: -12%!important;
    }
    #menage {
        padding-top: 16%!important;
        padding-bottom: 3%!important;
    }
    .fix_pad
    {
        padding-top: 15px!important;
    }
    #opat_zayavka
    {
        margin-top: -1%!important;
    }
    #kontrakt
    {
        margin-top: 0%!important;
    }
    #kak_mi_rab {
        font-size: 36px!important;
        padding-left: 0px!important;
        padding-right: 0px!important;
        transform: none!important;
        writing-mode: horizontal-tb!important;
        height: 10%!important;
        text-align: center!important;
        margin-left: 0%!important;
        margin-right: 0%!important;
        margin-top: 4%!important;
    }
    .bottom-to-top-l
    {
        height: 31%!important;
        border-bottom-width: 3px!important;
        border-left-width: 0px!important;
        padding-left: 5%!important;
    }
    #pad_none
    {
        margin-top: 4%!important;
    }
    #nash_zarabotok
    {
        float:none!important;
    }
    #ostav_zavka {
        font-size: 13px!important;
        margin-top: 5%!important;
    }
    .kontact 
    {
        font-size: 13px!important;
        padding: 0px!important;
    }
    #zakaz_zvonok
    {
        font-size: 16px!important;
    }
    #zvonok
    {
        font: 11px Arial, Helvetica, sans-serif!important;
        padding: 9px 7px!important;
        width: 107px!important;
        
    }
    #perevorot
    {
        height: 650px!important;
    }
    .bottom-to-top-r {
        border-width: 0px!important;
    }
    #obratni {
        margin: 1% 25px!important;
    }
    #map_gg
    {
        margin-top: 7px!important;
    }
    #map_box
    {
        height: 462px!important;
    }
    #ostav_zavka {
        font-size: 13px!important;
    }
    .article
    {
        font-size: 13px!important;
    }
    .text1
    {
        font-size: 12px!important;
    }
    #id1
    {
        margin-left: 29%!important;
        width: 150%!important;
    }
    #id2
    {
        width: 167%!important;
        margin-left: -47%!important;
    }
    #id3
    {
        margin-left: 30%!important;
        width: 149%!important;
        padding-top: 10%!important;
    }
    #id4
    {
        margin-left: -68%!important;
        width: 203%!important;
    }
    #id5
    {
        margin-bottom: 26%!important
    }
    #id6
    {
        margin-left: -62%!important;
        width: 155%!important;
        margin-bottom: 16%!important;
    }
    #licen_button
    {
        margin-top: 0%!important;
    }
    #podrobn {
        width: 64%!important;
    }
    #shapka_phone {
        width: 224px!important;
        padding-top: 6px!important;
    }
    #poluch
    {
        /*width: 54%!important;*/
    }
}
/*@media screen and (max-width: 480px) {
    #tender {
        padding-right: 0px!important;
        width: 144px!important;
    }
    .shapka {
        font-size: 12px!important;
        width: 114px!important;
    }
    #shapka{
        padding-top: 10px!important;
    }
    #zakzv {
        padding: 7px 7px!important;
        font-size: 12px!important;
    }
    #shapka_phone {
        width: 137px!important;
    }
    .disp_none
    {
        display:none!important;
    }
    #podrobn {
        width: 100%!important;
    }
    #licen_button {
        margin-top: 2%!important;
    }
    .inp {
        font-size: 17px!important;
    }
    #id5 {
        margin-bottom: 88%!important;
    }
    #pochemu {
        margin-top: 37%!important;
    }
    .with_pad 
    {
        font-size: 12px!important;
    }
    #free_consult
    {
        font-size: 110%!important;
    }
    #kak_mi_rab
    {
        margin-top: 0%!important;
        font-size: 28px!important;
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    #perevorot {
        height: 557px!important;
    }
    #counting {
        padding-top: 0%!important;
        height: 115%!important;
        width: 11%!important;
        font-size: 36px!important;
        padding-left: 9px!important;
        margin-left: 10px!important;
    }
    #ostav_zavka {
        font-size: 10px!important;
    }
    #nash_spec {
        margin-left: 8%!important;
        width: 89%!important;
        margin-top: 8%!important;
    }
    #nachni
    {
        height:827px!important;
    }
    .button
    {
        width:120px!important;
    }
    .my_img
    {
        margin-top:10px!important;
    }
    .plusi
    {
        min-height: 55px!important;
        width:75%!important;
        margin-left:15%;
    }
    .plusi1
    {
        min-height:55px!important;
    }
    #pad_none
    {
        padding-right:0px!important;
        padding-left:0px!important;
    }
    .nadpisi
    {
         font-size:20px!important;
    }
    .counter1
    {
        height:17%!important;
        font-size:282%!important;
        width: 9%!important;
    }
    #otpravte {
        margin-top: -39%!important;
    }
    .with_pad
    {
        padding: 12px!important;
    }
    #zdu_zvonka
    {
        height: 41px!important;
        font: 12px Arial, Helvetica, sans-serif!important;
    }
    #acia {
        margin-left: -12px!important;
    }
    #usluga {
        margin-top: 11%!important;
        margin-left: 22px!important;
    }
    #pochemu {
    padding-top: 18%!important;
}
}*/



@media screen and (max-width: 414px) {
    #pochemu
    {
        display:none!important;
    }
    .peredelka
    {
        width: 100%!important;
        margin:0px!important;
    }

    .container.no {
        padding-bottom: 100px;
    }
    {
        font-size: 18px;
        margin: 0 0 0px;
    }
    
    #id1
    {
        margin:0px!important;
        width: 100%!important;
        padding-left:0px!important;
        margin-left:15px!important;
        text-align:left!important;
    }
    #id2
    {
        width: 100%!important;
        margin:0px!important;
        padding-left:0px!important;
        margin-left:15px!important;
        text-align:left!important;
    }
    #id3
    {
        margin:0px!important;
        width: 100%!important;
        margin-left:15px!important;
        padding-left:0px!important;
        text-align:left!important;
    }
    #id4
    {
        margin:0px!important;
        width: 100%!important;
        margin-left:15px!important;
        padding-right:0px!important;
    }
    #id5
    {
        margin:0px!important;
        margin-left:15px!important;
        padding-right:0px!important;
    }
    #id6
    {
        margin:0px!important;
        width: 100%!important;
        margin-left:15px!important;
        padding-right:0px!important;
    }
    #text_left
    {
        text-align:left!important;
    }
    #usluga {
        width: 224px!important;
        font: 20px Arial, Helvetica, sans-serif!important;
        margin-left: -7px!important;
    }
    #pri_zakaze
    {
        font-size: 138%!important;
    }
    #acia {
        margin-left: -7px!important;
    }
    #nachni {
        /*height: 1268px!important;*/
    }
    #your_phone
    {
        width: 28%!important;
    }
    #zdu_zvonka
    {
        margin-left: -3%!important;
    }
    #otpravte {
        margin-top: 0%!important;
    }
    #zavka
    {
        height: 192px!important;
    }
    #your_name{
        display:block!important;
    }
    .with_pad
    {
        padding: 8px!important;
    }
    #zdu_zvonka
    {
        height: 33px!important;
        width: 92px!important;
        font-size: 12px!important;
    }
    .inp {
        font-size: 12px!important;
        
    }
    #nash_spec
    {
        margin-top: 14%!important;
    }
    #ostav_zaavku
    {
        font-size: 17px!important;
    }
    #podrobn
    {
        width: 100%!important;
        padding: 6px 3px;
        font: 10px Arial, Helvetica, sans-serif;
    }
    #kak_mi_rab {
        margin-top: 0%!important;
        font-size: 19px!important;
    }
    #counting {
        padding-top: 0%!important;
        font-size: 33px!important;
        margin-left: -17px!important;
        padding-left: 5px!important;
    }
    #working
    {
        padding:0px!important;
    }
    .counter1
    {
        height: 8%!important;
        font-size: 150%!important;
        width: 8%!important;
        padding: 1px!important;
    }
    .css_input
    {
        padding: 7px!important;
        border-radius: 15px!important;
        font-size: 15px!important;
        width:100%!important;
    }
    .button1
    {
        font-size: 13px!important;
        width:100%!important;
        height: 6%!important;
        padding: 4px!important;
    }
    #consult
    {
        font-size: 20px!important;
    }
    #shapka
    {
        float: right!important;
        padding:0px!important;
    }
    #logo
    {
        width: 100px!important;
        padding-left: 10px!important;
        padding-right: 10px!important;
        margin-right: 0px!important;
    }
    #tenderni_consult {
        margin-top: 0px!important;
    }
    .emblemi
    {
        display:none!important;
    }
    #ostav_zavka {
        font-size: 11px!important;
        padding: 2px;
        margin-top: 0%!important;
        margin-left: 10%!important;
    }
    #ostav_z {
        margin-left: 0%!important;
    }
    #tender {
        padding-right: 3px!important;
        width: 88px!important;
        
    }
    #zakzv {
    }
    #pa_rig_none
    {
        padding-right: 0px!important;
    }
    .shapka
    {
        width: 108px!important;
        font-size: 11px!important;
    }    
    #shapka_phone {
        width: 109px!important;
        padding-top: 16px!important;
    }
    #knopka
    {
        width: 89px!important;
        padding-top: 26px!important;

    }
    #logo_cont
    {
        padding:0px!important;
    }
    body, html
    {
        width: 100%!important;
        overflow-x: hidden; 
    }
    #nachni {
        min-height: 1070px;
    }
    .no {
        display: none;
    }
    .plusi {

    }
}



@media screen and (max-width: 375px) {
    #nachni {
        min-height: 1250px;
    }
}

@media screen and (max-width: 320px) {
    #nachni {
        min-height: 1600px;
    }
}


.container-fluid.punkti {
    height: 80px;
    background: #2065b1;
}
.foo {
    color: #fff;
    margin: 10px 0px 10px 0px;
}
.white {
    background-color: #2065b1;
    font-weight: 400;
}
.foo > .wh > a {
    color: #fff !important;
}


#kon, #phones, #butt {
    padding-top: 10px;
}
#ten {
    padding-top: 15px;
}
.mail > a {
    font-size: 16px;
}

.vkontakte > a {
    font-size: 16px;
}
.blue {
    color: #2065b1;
}
.title_social {
    padding-left: 5px;
    font-size: 16px;
}

#butt {
    padding: 10px 0px 0px 0px;
}

#phones {
    position: relative;
    font-size: 16px;
}

.phon-icon {
    position: absolute;
    top: 28px;
}

.phone-title {
    position: absolute;
    left: 50px;
    color: #2065b1;
}

.phone-title > p {
    margin-bottom: 0px;
}

#vk3 > a > i {
    float: left;
    margin-left: -10px;
}
#tender {
    padding-top: 20px !important;
}

#vk_title {
    float: left;
    padding-left: 43px;
}

body, html {
    width: 100% !important;
}

@media (max-width: 990px) {
    #ten1 > a > img {
        width: 100%;
    }
    #ten2 {
        line-height: 42px;
        font-size: 13px;
    }
    .center {
        margin: auto;
        width: 150px;
    }
    #ten1 {
        padding: 0px;
    }
}

@media (max-width: 768px) {
    #ten2 {
        line-height: 42px;
        font-size: 13px;
        margin: auto;
    }
    #ten, #kon, #phones {
        margin: auto;
    }
    #soprov {
        margin-left: 2%!important;
    }
    #back-top {
        width: 10px;
        height: 10px;
    }
    .ten11 {
        width: 260px;
        height: 40px;
        margin: auto;
    }
    #ten2 {
        padding: 0px 0px 0px 10px;
    }
    .kon-center {
        width: 180px;
        height: 50px;
        margin: auto;
    }
    .phones-center {
        width: 160px;
        height: 50px;
        margin: auto;
    }
}

@media (min-width: 100px) and (max-width: 640px) {
    body, html {
        width: 100% !important;
    }
    .plusi {
        width: 100%!important;
    }
    .plusi1 {
        min-height: 50px!important;
    }
    img .my_img {
        margin-top: 5%;
    }
    p {
        font-size: 18px;
    }
    #zavka {
        display: none;
    }
    #pochemu {
        width: 46%!important;
        margin-top: 0%!important;
        margin-left: 3%!important;
    }
    #socset1 {
        display: none;
    }
    p {
        /*display: none;*/
    }
    div.container-fluid.punkti {
        height: 225px; !important;
        background-color: #2065b1;
    }
    #ph {
        margin-top: 100px;
        display: none;
    }
    #ph2 {
        margin-top: 100px;
        margin-left: -35px;
        left: 0px;
    }
    #vk {
        display: none;
    }
    #vk2 {
        top: 110px;
        left: 190px;
    }
    #usluga {
        width: 300px;
    }
    #knopka {
        margin-left: 200px;
    }
    #vk3 {
        display: inline-block;
        margin-left: -16px;
        float: left;
    }
    #vk_title {
        display: inline-block;
        float: left;
        margin: 6px 0px 0px 10px;
        padding-left: 0px;
    }
    #zakzv {
        width: 150px !important;
        padding: 10px !important;
        font-size: 14px !important;
    }
    #first_but {
        margin-bottom: 10%;
    }
    #uridich_soprov {
        margin: 0% !important;
    }
    .navbar-inverse {
        margin-top: 10px;
    }
}
#back-top {
   position: fixed;
   bottom: 30px;
   right: 60px;
   z-index: 3;
   opacity: 0.5;

}
#back-top a {
   display: block;
   text-align: center;
   text-decoration: none;
   -webkit-transition: 1s;
   -moz-transition: 1s;
   transition: 1s;
   line-height: 30px;
}
}

